body{
 
 background-color: rgb(118, 118, 205);
 border:10px;
 margin: 10px;



}

#v1{
padding:10px;
background-color: rgb(65, 184, 184);
text-align: justify;
padding:10px 20px;
display:inline-block


}
#head{
    padding: 10px;
 background-color: rgb(70, 70, 137);
 
}